<form>
	<div class="panel panel-primary center-block" style="width: 320px">
	  <div class="panel-heading">
			Login
		</div>
	  <div class="panel-body" style="display: block">
			<div class="form-group">
				<label for="user-name">User name:</label>
				<input id="user-name" class="form-control" type="edit" ng-model="userName"/>
			</div>
			<div class="form-group">
				<label for="user-password">Password:</label>
				<input id="user-password" class="form-control" type="password" ng-model="userPassword"/>
			</div>
			<a id="login-button" type="button" class="btn btn-primary" href="#/robolist">Login</a>
	  </div>
	</div>
</form>
